@media only screen and (max-width: 991px) {
    .navbar-top .nav-link.active, .navbar-top .nav-link {
        clip-path: none !important;
    }
    .navbar-top .sim{
        /* visibility: hidden; */
        display: none !important;
    }
    .banner-dev-img{
        height: 250px;
    }
}