@import url('main.css');

.sm-show{
    display: none;
}

.navbar-top .navbar-nav>li>a {
	font-size: 15px;
	margin-right: 20px;
	color: var(--white);
}


.navbar-top .navbar-toggler {
	padding: .20rem .50rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid var(--white);
}

.navbar-top .nav-link {
    color: var(--blank) !important;
    font-weight: 500;
    padding: 10px 20px !important;
    /* clip-path: polygon(0 0, 92% 0, 100% 100%, 8% 100%); */    
    clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
    transition: 0.5s;
}
.navbar-top .nav-link.active, .navbar-top .nav-link:hover{
    background: var(--linear-bg);
    color: var(--white) !important;
    /* border-radius: 10px; */
    /* font-weight: 700; */
    clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
}

.navbar-top .wrapper {
	width: 100%;
	position: absolute;
	height: 100%;
	background-color: var(--primary);
	clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
	transition: 1s all;
}

.navbar-top .navbar-brand img {
	max-height: 50px;
}

.navbar-top .navbar-red:hover .wrapper {
	clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%);
}

.navbar-red {
	background-color: var(--white);
	color: var(--white);
}
.all-show {
	z-index: 10;
}

#banner-area-section{
    background-color: #fff9ec;
}

.banner-area-box{
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.banner-title-1{
    letter-spacing: 2px;
}
.banner-title-2{
    font-weight: 700;
}
.banner-dev-img{
    height: 350px;
    border-radius: 50%;
    border: 5px solid var(--primary);
    /* padding: 3px; */
}

#about-section{    
    background-color: var(--white);
}
.about-img{
    max-width: 100%;
}

#services-section{
    background-size: cover;
}
#services-section .title{
    letter-spacing: 2px;
    text-align: center
}
#services-section .card{
    border: 0px;
    border: 2px solid var(--primary);
    border-radius: var(--radius);
    margin-top: 15px;
}
#services-section .card:hover .card-body .icon-box i{
    background-color: var(--primary);
    color: var(--white);
}
#services-section .card .card-body{
    display: grid;
    grid-template-columns: 100px auto;
    grid-gap: 5px;
}
#services-section .card .card-body .icon-box{
    text-align: center;
}
#services-section .card .card-body .icon-box i{
    border: 2px solid var(--primary);
    color: var(--primary);
    font-size: 40px;
    padding: 15px;
    margin-top: 5px;
    transition: .5s;
}

#services-section .card .card-body p{
    text-align: justify;
}

#skills_section{
    background-color: var(--white);
}
#skills_section .card{
    border: 2px solid var(--blank);
    border-radius: var(--radius);
    background-color: #FECCB5;
    color: var(--black);
    margin-top: 10px;
}
#skills_section .card .card-body{
    display: flex;
    align-items: center;
}

#skills_section .card .card-body i{
    border: 2px solid black;
    color: var(--black);
    background-color: var(--white);
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: .5s;
}

#latest-projects-section{
    background-color: #fff9ec;
}
#latest-projects-section .card{
    border: 0px;
    border-radius: var(--radius);
    box-shadow: 0px 0px 11px #00000042;
    overflow: hidden;
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
}

#latest-projects-section .keyword{
    background-color: #feccb58b;
    color: var(--black);
}
#latest-projects-section .project-img{
    width: 100%;
    /* border: 2px solid black; */
}

#latest-projects-section .footer{
    display: grid;
    grid-template-columns: 50% auto;
}

#contact-section{
    background-size: cover;
    /* background-position: center; */
}
#contact-section .box{
    display: flex;
    align-items: center;
}
#contact-section .box i{
    color: var(--white);
    background-color: var(--primary);
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.social-icons i{
    font-size: 20px;
    margin: 3px;
    color: #44474a;
}
.social-icons i:hover{
    color: var(--primary);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 991px) {
    .navbar-top .nav-link.active, .navbar-top .nav-link {
        clip-path: none !important;
    }
    .navbar-top .sim{
        /* visibility: hidden; */
        display: none !important;
    }
    .banner-dev-img{
        height: 250px;
    }
    .sm-show{
        display: block;
    }
    .lg-show{
        display: none;
    }
    .about-img{
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    #services-section .card .card-body{
        display: block;
    }
    #services-section .card .card-body .icon-box{
        text-align: left;
        margin-bottom: 10px;
    }
}